#Body_main{
    margin:auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid #000000;
    padding: 2rem;
    background-color: lightyellow;
}

#initalPrice, #stocks_quantity, #current_price{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1rem;
}
#submit_btn{
    background-color: darkblue;
    color:white;
    width: 100px;
    margin:auto;
}
#output_box{
    margin-top: 1rem;
}